.Home {
  position: relative;
  height: 100vh;
  background-image: url('/images/paper.jpg');
  background-size: cover;

  &__options {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    transition: all 0.5s;
    background-image: url('/images/paper.jpg');
    z-index: 5;

    &__bottom {
      position: absolute;
      left: 0;
      top: 100vh;
      width: 100%;
      height: 10vh;
      background-image: url('/images/new_bg.jpg');
      background-position: center;

      &__border {
        width: 100%;
        height: 14px;
        background-image: url('/images/border_bottom.jpg');
        position: absolute;
        bottom: 0px;
      }
    }
  }
}


.Home__encounter {
  .Home__options {
    top: -100vh;
  }
}
