.Home {
  position: relative;
  height: 100vh;
  background-size: cover;

  &__options {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    transition: all 0.5s;
    z-index: 5;

    &__bottom {
      position: absolute;
      left: 0;
      top: 100vh;
      width: 100%;
      height: 10vh;
      background-image: url("/images/new_bg.jpg");
      background-position: center;

      &__border {
        width: 100%;
        height: 14px;
        background-image: url("/images/border_bottom.jpg");
        position: absolute;
        bottom: 0px;
      }
    }
  }
}

.Home__encounter {
  .Home__options {
    top: -100vh;
  }
}

.Header {
  background: rgb(25, 21, 24);
  background: linear-gradient(
    90deg,
    rgba(25, 21, 24, 1) 0%,
    rgba(42, 39, 37, 1) 60%
  );
  margin: 0 -0.5rem;

  h2 {
    background-image: url("/images/sign.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 388px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #e0b172;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}
