@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

$main-color: #5c3f23;

* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: $main-color;
}
