@import '_reset';

@import 'components/_button';
@import 'components/_loader';

html {
  font-size: 16px;
  // background-color: $bg;
}

body {
  font-size: 1rem;
  color: white;
  overflow: hidden;
  color: black;
  background: cyan;
}
