// @import '_reset';
@import 'tailwind.css';
@import '_typography';

@import 'components/_button';
@import 'components/_loader';
@import 'components/_nav';
@import 'components/_results';

@import '_home';

#app {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: white;
  overflow: hidden;
  color: black;
  background: #f7ebdd;
}

.sub-page {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f7ebdd;
  z-index: 10;
  transition: all 0.25s;

  &.active {
    top: 0;
  }
}
