@import url(tailwind.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
* {
  font-family: 'Merriweather', serif;
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #5c3f23; }

.Button {
  border: 1px solid #5c3f23;
  color: black; }
  .Button.active {
    background: #5c3f23;
    color: white; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Nav {
  bottom: 0;
  width: 100%;
  background: #5c3f23;
  z-index: 20; }

.Home {
  position: relative;
  height: 100vh; }
  .Home__options {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    transition: all 0.5s;
    background: #f7ebdd;
    z-index: 5; }
    .Home__options__bottom {
      position: absolute;
      left: 0;
      top: 100vh;
      width: 100%;
      height: 10vh;
      background: #5c3f23; }
  .Home__results {
    position: relative;
    top: 10vh; }

.Home__encounter .Home__options {
  top: -100vh; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  color: white;
  overflow: hidden;
  color: black;
  background: #f7ebdd; }

button {
  border: 1px solid #5c3f23;
  transition: all .25s; }
  button:active, button:hover {
    background: #5c3f23;
    color: white; }
