@import url(tailwind.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
* {
  font-family: 'Merriweather', serif;
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #5c3f23; }

.Button {
  width: 153px;
  height: 46px;
  line-height: 46px; }

.Button__generate {
  width: 153px;
  height: 46px;
  line-height: 46px;
  background-image: url("/images/button.png"); }
  .Button__generate:active {
    background-image: url("/images/button_active.png"); }

@media only screen and (max-width: 350px) {
  .Button {
    width: 101px;
    height: 31px;
    line-height: 31px;
    background-size: contain; } }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 200px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #333;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Nav {
  bottom: 0;
  width: 100%;
  background-image: url("/images/nav_bar.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20; }

.Results {
  position: relative;
  top: 10vh; }

.Home {
  position: relative;
  height: 100vh;
  background-image: url("/images/paper.jpg");
  background-size: cover; }
  .Home__options {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    transition: all 0.5s;
    background-image: url("/images/paper.jpg");
    z-index: 5; }
    .Home__options__bottom {
      position: absolute;
      left: 0;
      top: 100vh;
      width: 100%;
      height: 10vh;
      background-image: url("/images/new_bg.jpg");
      background-position: center; }
      .Home__options__bottom__border {
        width: 100%;
        height: 14px;
        background-image: url("/images/border_bottom.jpg");
        position: absolute;
        bottom: 0px; }

.Home__encounter .Home__options {
  top: -100vh; }

#app {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  color: white;
  overflow: hidden;
  color: black;
  background: #f7ebdd; }

.sub-page {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f7ebdd;
  z-index: 10;
  transition: all 0.25s; }
  .sub-page.active {
    top: 0; }
