@import "tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
* {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #4a3824;
}

.Button {
  border: none;
  color: #c4985e;
  font-size: 1rem;
  font-weight: 700;
  width: 179px;
  height: 36px;
  margin: 4px 8px;
  background-size: cover;
  border: 4px solid #271e1e;
  background-color: #382d2c;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button p {
  font-weight: 700;
}

.Button.generate {
  margin: 0 auto;
  width: 198px;
  height: 40px;
}

@media (max-width: 415px) {
  .Button {
    font-size: 0.85rem;
  }
}
.Button.bigButton {
  width: 198px;
  height: 40px;
}

.Button.active {
  filter: brightness(60%);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 200px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #333;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Nav {
  bottom: 0;
  width: 100%;
  z-index: 20;
  background: #191518;
  background: linear-gradient(90deg, #191518 0%, #2a2725 60%);
}

.Results {
  position: relative;
  top: 10vh;
}

.Home {
  position: relative;
  height: 100vh;
  background-size: cover;
}
.Home__options {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  transition: all 0.5s;
  z-index: 5;
}
.Home__options__bottom {
  position: absolute;
  left: 0;
  top: 100vh;
  width: 100%;
  height: 10vh;
  background: #191518;
  background: linear-gradient(90deg, #191518 0%, #2a2725 60%);
}
.Home__options__bottom__border {
  width: 100%;
  height: 14px;
  position: absolute;
  bottom: 0px;
}

.Home__encounter .Home__options {
  top: -100vh;
}

.Header {
  background: #191518;
  background: linear-gradient(90deg, #191518 0%, #2a2725 60%);
  margin: 0 -0.5rem;
}
.Header h2 {
  background-image: url("/images/sign.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 388px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #e0b172;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

#app {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#fancy-alert {
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: white;
  overflow: hidden;
  color: black;
  background: #e1d0b3;
  background: radial-gradient(circle, #e1d0b3 50%, #877556 100%);
}

.sub-page {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #e1d0b3;
  background: radial-gradient(circle, #e1d0b3 50%, #877556 100%);
  z-index: 10;
  transition: all 0.25s;
}
.sub-page.active {
  top: 0;
}

/*# sourceMappingURL=main.css.map */
