.Button {
  width: 153px;
  height: 46px;
  line-height: 46px;
}

.Button__generate {
  width: 153px;
  height: 46px;
  line-height: 46px;
  background-image: url('/images/button.png');

  &:active {
    background-image: url('/images/button_active.png');
  }
}

@media only screen and (max-width: 350px) {
  .Button {
    width: 101px;
    height: 31px;
    line-height: 31px;
    background-size: contain;
  }
}
