.Button {
  border: none;
  color: #c4985e;
  font-size: 1rem;
  font-weight: 700;
  width: 179px;
  height: 36px;
  margin: 4px 8px;
  background-size: cover;
  border: 4px solid #271e1e;
  background-color: #382d2c;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-weight: 700;
  }
}

.Button.generate {
  margin: 0 auto;
  width: 198px;
  height: 40px;
}

@media (max-width: 415px) {
  .Button {
    font-size: 0.85rem;
    width: 160px;
  }
}

.Button.bigButton {
  width: 198px;
  height: 40px;
}

.Button.active {
  filter: brightness(60%);
}

@media (max-width: 350px) {
  .Button {
    font-size: 0.8rem;
    width: 130px;
  }
}
